<body class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a class="h1"><b>Admin</b>LTE</a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="input-group mb-3">
            <mat-form-field class="example-full-width" appearance="fill" class="w-100">
              <mat-label>Usuario o Email</mat-label>
              <input type="email" matInput formControlName="user_email" placeholder="Ex. exp@email.com" autocomplete="off">
              <mat-error *ngIf="!this.form.value.user_email">
                Please enter a valid email address, Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="input-group mb-3">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="off">
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide" class="border-0">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="!this.form.value.password">
                Please enter a password, is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-6">
              <button #submitBtn type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid || submit">Sign
                In</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <div class="social-auth-links text-center mt-2 mb-3">
          <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
          </a>
        </div>
        <!-- /.social-auth-links -->

        <p class="mb-1">
          <a href="forgot-password.html">I forgot my password</a>
        </p>
        <p class="mb-0">
          <a href="register.html" class="text-center">Register a new membership</a>
        </p>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.login-box -->
</body>
